.form {
    padding: 200px 100px 0 100px;
    display: flex;
    justify-content: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.loader{
        font-size: 48px;
        color: #000;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        position: relative;
      }
      .loader:after{
        content: '';
        height: 4px;
        width:0%;
        display: block;
        background: #FF3D00;
        animation: 5s lineGrow linear infinite;
      }
      
      @keyframes lineGrow {to{width: 100%;}}

.hidden {
    display: none;
}